$iconSpritePath: '/images/glyphicons-halflings.png';
@import 'sass-bootstrap/lib/bootstrap';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

.beer-card {
	border: #CDCDCD 3px solid;
	border-radius: 10px;
	padding: 10px;
	background-color: #FAFAFA;
}